{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="/item/delete">
        <select name="itemId">
            {% for item in items %}
                <option value="{{item.Item_Id}}">{{ item.Title }}</option>
            {% endfor %}
        </select>

        <button type="submit">Delete Item</button>
    </form>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
			{% if legend != "Update Department" %}

			{% endif %}
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control form-control-lg") }}
                {% endif %}

              <div class="form-group">
                {{ form.author.label(class="form-control-label") }}
                {% if form.author.errors %}
                    {{ form.author(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.author.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.author(class="form-control form-control-lg") }}
                {% endif %}
                </div>
              <div class="form-group">
              {{ form.language.label(class="form-control-label") }}
              {% if form.language.errors %}
                  {{ form.language(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.language.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.language(class="form-control form-control-lg") }}
              {% endif %}
          </div>
            <div class="form-group">
                {{ form.publication_date.label(class="form-control-label") }}
                {% if form.publication_date.errors %}
                    {{ form.publication_date(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.publication_date.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.publication_date(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.publisher.label(class="form-control-label") }}
                {% if form.publisher.errors %}
                    {{ form.publisher(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.publisher.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.publisher(class="form-control form-control-lg") }}
                {% endif %}
            </div>
			<div class="form-group">
                {{ form.location.label(class="form-control-label") }}
                {% if form.location.errors %}
                    {{ form.location(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.location.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.location(class="form-control form-control-lg") }}
                {% endif %}
            </div>
          <div class="form-group">
                {{ form.keyword.label(class="form-control-label") }}
                {% if form.keyword.errors %}
                    {{ form.keyword(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.keyword.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.keyword(class="form-control form-control-lg") }}
                {% endif %}
            <div class="form-group">
                {{ form.type.label(class="form-control-label") }}
                {% if form.type.errors %}
                    {{ form.type(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.type.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.type(class="form-control form-control-lg") }}
                {% endif %}
            </div>
              <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">

        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>


</div>

{% endblock content %}